---
import '../styles/menu/language-selector.css';
---

<div class="language-selector-container">
    <select name="languages" id="languages" class="language-selector">
        <option value="en">English</option>
        <option value="fr">Français</option>
    </select>
</div>