---
import MenuButton from './MenuButton.astro';
import LanguageSelector from "./LanguageSelector.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import logo from '../assets/logo.png';
import '../styles/menu/menu.css';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const items = [
    { key: 'home' },
    { key: 'about' },
    { key: 'portfolio' },
    { key: 'contact' }
];
---

<div class="menu-container">
    <img
            src={logo.src}
            alt="Logo"
            class="menu-logo"
            onclick="document.querySelector('.navbar').classList.toggle('open')"
    />

    <div class="navbar">
        {items.map(({ key }) => (
                <MenuButton
                        class="menu-item"
                        text={t(`menu.${key}`)}
                        path={`/${lang}/${key}`}
                />
        ))}
        <LanguageSelector class="menu-item"/>
    </div>
</div>
